![png](books-image.png)

In [31]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

username = 'root'
password = 'mostar'

connection = f'mysql+pymysql://{username}:{password}@localhost/Books'
engine = create_engine(connection)

In [32]:
engine

Engine(mysql+pymysql://root:***@localhost/Books)

In [33]:
users = pd.read_csv('users.csv')
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [34]:
books = pd.read_csv('books.csv')
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [35]:
authors = pd.read_csv('authors.csv')
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [36]:
favorites = pd.read_csv('favorites.csv')
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [37]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""

pd.read_sql(q, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'books.books' doesn't exist")
[SQL: SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id =
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));]
(Background on this error at: https://sqlalche.me/e/14/f405)